@import "tailwindcss";

@theme {
  --color-nord: oklch(0.24 0.0312 273.09);
  --color-nord-black: oklch(0.41 0.0508 276.6);
  --color-nord-black-alternate: oklch(0.41 0.0508 276.6 / 75%);
  --color-nord-red: oklch(0.61 0.1206 15.34);
  --color-nord-red-hover: oklch(0.51 0.1214 15.11);
  --color-nord-green: oklch(0.77 0.0749 131.06);
  --color-nord-green-hover: oklch(0.65 0.0741 130.59);
  --color-nord-yellow: oklch(0.85 0.0892 84.09);
  --color-nord-yellow-hover: oklch(0.74 0.0893 84.12);
  --color-nord-blue: oklch(0.59 0.0772 254.03);
  --color-nord-blue-hover: oklch(0.5 0.077 253.79);
  --color-nord-magenta: oklch(0.69 0.0625 332.66);
  --color-nord-magenta-hover: oklch(0.57 0.0635 333.13);
  --color-nord-cyan: oklch(0.77 0.0622 217.47);
  --color-nord-cyan-hover: oklch(0.65 0.0626 218.18);
  --color-nord-white: oklch(0.84 0.0565 276.24);
  --color-row-alternate: rgba(0,0,0,0.05);
  --color-row-alternate-hover: rgba(0,0,0,0.15);
}

body {
  @apply dark:bg-nord
}

.flash {
  @apply fixed top-5 left-1/2 transform -translate-x-1/2 z-50
}

.flash-message {
  @apply text-nord-white px-6 py-3 rounded-lg shadow-md flex items-center justify-between w-96
}

.flash-message.notice {
  @apply bg-nord-green text-nord-black
}

.flash-message.alert {
  @apply bg-nord-yellow text-nord-black
}

.flash-message.error {
  @apply bg-nord-red
}

.flash-message.info {
  @apply bg-nord-blue
}

nav {
  @apply bg-white dark:bg-nord border-b border-nord-white dark:border-nord-black text-nord-white px-6 py-4 flex justify-between items-center fixed top-0 w-full z-50 shadow-md
}

nav a {
  @apply no-underline text-white dark:text-nord-white hover:text-white
}

nav div {
  @apply flex
}

nav .button-confirm {
  @apply mr-4 text-white hover:text-white dark:text-nord-white
}

.logo {
  @apply text-xl font-bold text-nord-black
}

.light {
  @apply block dark:hidden
}

.dark {
  @apply hidden dark:block
}

.button, button {
  @apply ml-4 px-3 py-2 bg-nord-blue rounded-md hover:bg-nord-blue-hover
}

.button-confirm {
  @apply bg-nord-green hover:bg-nord-green-hover text-white hover:text-white dark:text-nord-black dark:hover:text-nord-black
}

.button-destruct {
  @apply bg-nord-red hover:bg-nord-red-hover text-white
}

.session-form {
  @apply max-w-md mx-auto mt-16 p-8 rounded-lg shadow-md text-nord-black dark:text-nord-white border-nord-white dark:border-nord-black border
}

.session-form h2 {
  @apply text-center
}

h2 {
  @apply text-2xl font-bold mb-2 text-nord-black dark:text-nord-white
}

.form-field {
  @apply mb-4
}

.form-field label {
  @apply block font-semibold
}

.session-form [type=email], .session-form [type=password] {
  @apply w-full px-4 py-2 border border-nord-white dark:border-nord-black rounded-lg focus:ring-2 focus:ring-nord-blue
}

.session-form p.input-description {
  @apply text-sm mt-1 text-left text-gray-400
}

.input-error {
  @apply text-nord-red text-sm mt-1
}

.session-check {
  @apply flex items-center
}

.session-form [type=checkbox] {
  @apply mr-2
}

.session-actions {
  @apply flex justify-between items-center mb-0
}

.session-form [type=submit] {
  @apply ml-0 text-white dark:text-nord-white
}

[type=submit], button, a {
  @apply cursor-pointer
}

.session-actions a {
  @apply text-nord-white dark:text-nord-black
}

a {
  @apply underline underline-offset-3 hover:text-nord-white
}

a.button {
  @apply no-underline ml-0
}

.session-form p {
  @apply text-center mb-6
}

p {
  @apply text-nord-black dark:text-nord-white mb-2
}

h1 {
  @apply text-3xl font-bold text-nord-black dark:text-nord-white mb-6
}

main {
  @apply w-auto max-w-5xl mx-auto
}

.disconnect {
  @apply ml-0 text-white dark:text-nord-white
}

section {
  @apply my-8
}

section.zoom form {
  @apply flex text-nord-black mb-4
}

section.zoom .form-field {
  @apply mb-0 mr-2 flex items-center
}

section.zoom .form-field.actions button {
  @apply ml-0 text-white
}

section.zoom .refresh {
  @apply ml-4 no-underline
}

section .table-container {
  @apply overflow-x-auto rounded-lg shadow-md text-nord-black dark:text-nord-white border-nord-white dark:border-nord-black border
}

section table {
  @apply w-full mx-auto
}

section thead tr {
  @apply text-nord-black dark:text-nord-white uppercase text-sm leading-normal text-center border-b border-nord-white dark:border-nord-black
}

section thead th {
  @apply py-3 px-6 text-center
}

section tbody {
  @apply text-nord-black dark:text-nord-white text-sm font-light
}

section tbody tr {
  @apply border-b border-nord-white dark:border-nord-black hover:bg-row-alternate-hover dark:hover:bg-nord-black cursor-pointer
}

section tbody tr:nth-child(even) {
  @apply bg-row-alternate dark:bg-nord-black-alternate hover:bg-row-alternate-hover dark:hover:bg-nord-black
}

section tbody td {
  @apply py-3 px-6 whitespace-nowrap
}

section tbody td ul {
  @apply list-image-none
}

footer {
  @apply dark:bg-nord border-t border-nord-white dark:border-nord-black text-nord-black dark:text-nord-white text-center py-4 mt-12 w-full z-50 text-sm
}
