@import "tailwindcss";

body {
  background-color: red;
}

.bg-nord0 {
  background-color: #2E3440;
}

.color-nord0 {
  color: #2E3440;
}

.btn {
  @apply font-bold py-2 px-4 rounded
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700
}
