@import "tailwindcss";

@theme {
  --color-nord: oklch(0.24 0.0312 273.09);
  --color-nord-black: oklch(0.41 0.0508 276.6);
  --color-nord-black-alternate: oklch(0.41 0.0508 276.6 / 75%);
  --color-nord-red: oklch(0.71 0.1303 10.03);
  --color-nord-red-hover: oklch(0.61 0.1312 10.09);
  --color-nord-green: oklch(0.71 0.0853 173.71);
  --color-nord-green-hover: oklch(0.59 0.086 173.62);
  --color-nord-yellow: oklch(0.78 0.0922 77.72);
  --color-nord-blue: oklch(0.71 0.1162 267.52);
  --color-nord-blue-hover: oklch(0.59 0.115 267.29);
  --color-nord-magenta: oklch(0.74 0.1227 297.41);
  --color-nord-cyan: oklch(0.79 0.102 217.53);
  --color-nord-white: oklch(0.84 0.0565 276.24);
}

body {
  @apply bg-nord
}

.flash {
  @apply fixed top-5 left-1/2 transform -translate-x-1/2 z-50
}

.flash-message {
  @apply text-nord-white px-6 py-3 rounded-lg shadow-md flex items-center justify-between w-96 /*animate-slide-in*/
}

.flash-message.notice {
  @apply bg-nord-green
}

.flash-message.alert {
  @apply bg-nord-yellow
}

.flash-message.error {
  @apply bg-nord-red
}

.flash-message.info {
  @apply bg-nord-blue
}

nav {
  @apply bg-nord-black text-nord-white px-6 py-4 flex justify-between items-center fixed top-0 w-full z-50
}

nav a {
  @apply no-underline text-nord-white hover:text-nord-white
}

nav div {
  @apply flex
}

nav .button-confirm {
  @apply mr-4
}

.logo {
  @apply text-xl font-bold text-nord-white
}

.button, button {
  @apply ml-4 px-3 py-2 bg-nord-blue rounded hover:bg-nord-blue-hover
}

.button-confirm {
  @apply bg-nord-green hover:bg-nord-green-hover
}

.button-destruct {
  @apply bg-nord-red hover:bg-nord-red-hover text-nord-white
}

.session-form {
  @apply max-w-md mx-auto mt-16 p-8 rounded-lg shadow-md text-nord-white border-nord-black border
}

.session-form h2 {
  @apply text-center
}

h2 {
  @apply text-2xl font-bold mb-2 text-nord-white
}

.form-field {
  @apply mb-4
}

.form-field label {
  @apply block font-semibold
}

.session-form [type=email], .session-form [type=password] {
  @apply w-full px-4 py-2 border border-nord-black rounded-lg focus:ring-2 focus:ring-blue-500
}

.input-error {
  @apply text-nord-red text-sm mt-1
}

.session-check {
  @apply flex items-center
}

.session-form [type=checkbox] {
  @apply mr-2
}

.session-actions {
  @apply flex justify-between items-center mb-0
}

.session-form [type=submit] {
  @apply ml-0 text-nord-white
}

[type=submit], button, a {
  @apply cursor-pointer
}

.session-actions a {
  @apply text-nord-black
}

a {
  @apply underline underline-offset-3 hover:text-nord-white
}

a.button {
  @apply no-underline ml-0
}

.session-form p {
  @apply text-center mb-6
}

p {
  @apply text-nord-white mb-2
}

h1 {
  @apply text-3xl font-bold text-nord-white mb-6
}

main {
  @apply w-auto max-w-5xl mx-auto
}

.disconnect {
  @apply ml-0 text-nord-white
}

section {
  @apply my-8
}

section.zoom form {
  @apply flex text-nord-white mb-4
}

section.zoom .form-field {
  @apply mb-0 mr-2 flex items-center
}

section.zoom .form-field.actions button {
  @apply ml-0
}

section.zoom .refresh {
  @apply ml-4 no-underline
}

section .table-container {
  @apply overflow-x-auto
}

section table {
  @apply w-full border-collapse border-nord-white rounded-lg shadow-md text-center
}

section thead tr {
  @apply text-nord-white uppercase text-sm leading-normal text-center border-b border-nord-black
}

section thead th {
  @apply py-3 px-6 text-center
}

section tbody {
  @apply text-nord-white text-sm font-light
}

section tbody tr {
  @apply border-b border-nord-black hover:bg-nord-black
}

section tbody tr:nth-child(even) {
  @apply bg-nord-black-alternate hover:bg-nord-black
}

section tbody td {
  @apply py-3 px-6 whitespace-nowrap
}

section tbody td ul {
  @apply list-image-none
}

footer {
  @apply text-nord-black text-center py-4 mt-12 fixed bottom-0 w-full z-50
}
